*{
    margin: 0px;
    box-sizing: border-box;
}

.banner{
    padding: 10px 20px;
}

.banner .logo-image,.logo-text{
    vertical-align: middle;
}

.banner .logo-text{
    font-size: 40px;
    font-weight: bold;
}

.grey.container{
    height: 100vh;
    background-color: #ededed;
    padding: 40px;
}

main{
    width: 70%;
    margin: auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
}

.button{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.button.blue{
    background-color: rgb(99, 171,235);
}

.button.white{
    background-color: #fff;
    border: 1px solid grey;
}

.blue-btn-text{
    color: #fff;
}

.white-btn-text{
    color: grey;
}