*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

main{
    border-radius: 5px;
    overflow: hidden;
    width: 70%;
    margin: 40px auto 20px;
}


/* header */
.banner{
    background-color: #fff;
    padding: 15px 20px;
}

.banner .logo-image, .banner .logo-text{
    vertical-align: middle;
}

.banner .logo-image{
    height: 60px;
}

.banner .logo-text{
    font-size: 3em;
    font-weight: bold;
}
/* fine header */


/* sezione bottoni */
.btn-section, .task-section{
    background-color: #fff;
    padding: 15px 60px;
}

.btn-section{
    margin-bottom: 3px;
}

.btn{
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn.blue{
    background-color: rgb(99, 171,235);
}

.btn.white{
    background-color: #fff;
    border: 1px solid #ededed;
}

.blue-btn-text{
    color: #fff;
}

.white-btn-text{
    color: lightgrey;
}
/* fine sezione bottoni */


/* sezione task */
.task-title{
    margin-top: 30px;
    font-size: 1.6em;
}

.task-element{
    margin-top: 25px;
    font-size: 1.2em;
}

.task-title + .task-element{
    margin-top: 15px;
}

.task-title::before{
    content: '\25BE';
    margin-right: 5px;
}

.task-element.checked::before, .task-element.not-checked::before{
    font-size: 0.7em;
    padding: 1px 4px;
    margin-right: 10px;
    border-radius: 50%;
}

.task-element.checked::before{
    content: '\2713';
    color: #0dc70d;
    border: 1px solid #0dc70d;
}

.task-element.not-checked::before{
    content: '\2715';
    color: #f00;
    border: 1px solid #f00;
}

div.task-element span{
    color: #fff;
    font-size: 0.6em;
    margin-left: 5px;
    padding: 8px 12px;
    border-radius: 15px;
}

.task-element .editorial{
    background-color: rgb(99, 171,235);
}

.task-element .q1-goals{
    background-color: rgb(151, 116, 221);
}

.task-element .recruiting{
    background-color: rgb(124, 190, 170);
}

.task-element .mobile{
    background-color: rgb(230, 162, 75);
}

.task-element .website{
    background-color: rgb(201, 106, 159);
}

.task-element .sales{
    background-color: rgb(182, 200, 73);
}
/* fine sezione task */